<div data-dojo-type="dijit/layout/TabContainer" id="childConnTab-${objConn.id}" class="whole-container">
    <div data-dojo-type="dijit/layout/ContentPane"  id="paneMqtt-${objConn.id}" title="MQTT" data-dojo-props="selected:true">
		<div data-dojo-type="dijit/layout/BorderContainer"  data-dojo-props="design:'sidebar', gutters:true, liveSplitters:true" >
			<div data-dojo-type="dijit/layout/ContentPane" id="forLoad-${objConn.id}" data-dojo-props="splitter:true, region:'leading'" class="mqtt-container">
				<div data-dojo-type="dijit/TitlePane"  class='title-pane shadow' data-dojo-props="parseOnLoad:'true',title:'Connection'">
					<div class='group'>
						<div class='label-container'>
							<input type="radio" id="radioIp-${objConn.id}" data-dojo-type="dijit/form/RadioButton" checked name='connType' value="IP"/>
							<label for="radioIp-${objConn.id}" class='label-font'>Host&Port </label>
						</div>
						<input type="text" id="connHost-${objConn.id}" class="pull-left" style="width:41%"
							data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder:'Host',trim:true" />
						<span style="font-weight:bold; padding:4px">:</span>
						<input type="text" id="connPort-${objConn.id}" style="width:25%"
							data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="placeHolder:'Port',constraints:{pattern:'#'}"/>
					</div><!--end host&port group-->
					<div class='group'>
						<div class='label-container'>
							<input type="radio" id="radioUri-${objConn.id}" data-dojo-type="dijit/form/RadioButton" name='connType'  value="URI"/>
							<label for="radioUri-${objConn.id}" class='label-font'>Server URI</label>
						</div>
						<input type="text" id="connUri-${objConn.id}" style="width:70%" disabled=true
							data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder:'Server URI'"/>
					</div><!--end server uri group-->
					<div class='group'>
						<div class='label-container'>
							<div id='connClientStatus-${objConn.id}' class='criticalStatus'></div>
							<label for="connClientId-${objConn.id}" class='label-font'>Client ID </label>
						</div>
						<input type="text" id="connClientId-${objConn.id}" class="pull-left" style="width:28%"
							data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder:'Client ID',trim:true" />
						<button data-dojo-type="dijit/form/Button" class='smallBtn btn' id="btnConn-${objConn.id}" label='Connect' ></button>
						<button data-dojo-type="dijit/form/Button" data-dojo-props="disabled:true" class='smallBtn btn' id="btnDisConn-${objConn.id}" label='Disonnect'></button>
					</div><!--end clientId connect & disconnectgroup-->
				</div><!-- end TitlePane -->
				<div data-dojo-type="dijit/TitlePane" class='title-pane shadow' data-dojo-props="title:'Subscription'">
					<div class='group'>
						<div class='label-container2'>
							<label for="connSubTopic-${objConn.id}" class='label-font'>Topic</label>
						</div>
						<input data-dojo-type="dijit/form/ComboBox"  id="connSubTopic-${objConn.id}"  style="width:76%"/>
					</div><!--end subscribtion topic-->
					<div class='group'>
						<div class='label-container2'>
							<label for="connSubQos-${objConn.id}" class='label-font'>Qos</label>
						</div>
						<select data-dojo-type="dijit/form/Select" id="connSubQos-${objConn.id}" class="pull-left" style="width:28%"/>
							<option value=0>0 - At Most Once</option>
							<option value=1>1 - At Least Once</option>
							<option value=2>2 - Exactly Once</option>
						</select>
						<input type="button" class='smallBtn btn' id="btnSub-${objConn.id}" label='Subscribe' data-dojo-props="disabled:true"	data-dojo-type="dijit/form/Button" />
						<input type="button" class='smallBtn btn' id="btnUnsub-${objConn.id}" label='Unsubscribe' data-dojo-props="disabled:true"	data-dojo-type="dijit/form/Button" />
					</div><!--end qos subscribe group-->
				</div><!-- end TitlePane -->
				<div data-dojo-type="dijit/TitlePane" class='title-pane shadow' data-dojo-props="title:'Publication'">
					<div class='group'>
						<div class='label-container2'>
							<label for="connPubTopic-${objConn.id}" class='label-font'>Topic</label>
						</div>
						<input data-dojo-type="dijit/form/ComboBox"  id="connPubTopic-${objConn.id}"  style="width:76%"/>
					</div><!--end publication topic-->
					<div class='group'>
						<div class='label-container2'>
							<label for="connPubMsg-${objConn.id}" class='label-font'>Message</label>
							<input  data-dojo-type="dijit/form/CheckBox" id="connIsMsgHex-${objConn.id}" />
							<label for="connIsMsgHex-${objConn.id}" class='label-font'>Hex</label>
						</div>
						<textarea id="connPubMsg-${objConn.id}" rows='4' style="width:76%"></textarea>
					</div><!--end publication topic-->
				<!--	<div class='group'>	
						<div class='label-container2'>
							<label for="connPubFile-${objConn.id}" class='label-font'>File</label>
						</div>
						<input data-dojo-type="dijit/form/TextBox"  readonly=true id="connPubFileDir-${objConn.id}" class="pull-left"  style="width:58%"/>
						<input data-dojo-type="dojox/form/Uploader" id="connPubFile-${objConn.id}" label="&nbsp&nbspFile&nbsp&nbsp" type="file" class="smallBtn btn"/>
					</div><!--end publication file-->
					<div class='group'>
						<div class='label-container2'>
							<label for="connPubQos-${objConn.id}" class='label-font'>Qos</label>
						</div>
						<select data-dojo-type="dijit/form/Select" id="connPubQos-${objConn.id}" class="pull-left" style="width:28%"/>
							<option value=0>0 - At Most Once</option>
							<option value=1>1 - At Least Once</option>
							<option value=2>2 - Exactly Once</option>
						</select>
						<input  data-dojo-type="dijit/form/CheckBox" id="connIsRetain-${objConn.id}" style="margin-left:20px" />
						<label for="connIsRetain-${objConn.id}" class='label-font'>Retained</label>
						<input data-dojo-type="dijit/form/Button" id="btnPub-${objConn.id}" data-dojo-props="disabled:true" type="button" class='smallBtn btn' label='Publish'	/>
					</div><!--end qos publication group-->
					
				</div><!-- end TitlePane -->
			</div><!-- end ContentContainer -->
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'center'">
				<div data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region:'center', tabStrip:true">
					<div data-dojo-type="dijit/layout/ContentPane" title="Histroy" selected="true">
						<div id="connHistroy-${objConn.id}" class='gridContainer'>
							
						</div>
					</div>
					<div data-dojo-type="dijit/layout/ContentPane" title="Last Message">
						<div id="connLastMsg-${objConn.id}" class='gridContainer'></div>
					</div>
				</div><!-- end TabContainer -->
			</div><!-- end ContentContainer -->
		</div><!-- end BorderContainer -->	
    </div>
	
    <div data-dojo-type="dijit/layout/ContentPane" id="paneOptions-${objConn.id}"  class="mqtt-container" title="Options">
        <div data-dojo-type="dijit/TitlePane" class='title-pane shadow' data-dojo-props="title:'Connection Options'">
			<div class='group'>
				<div class='label-container3'>
					<input id="connIsCleanSession-${objConn.id}" data-dojo-type="dijit/form/CheckBox" checked name='cleanSession' />
					<label for="connIsCleanSession-${objConn.id}" class='label-font'>Clean Session</label>
				</div>
				<div class='label-container3'>
					<input id="connUseSSL-${objConn.id}" data-dojo-type="dijit/form/CheckBox"  name='usingSSL' />
					<label for="connUseSSL-${objConn.id}" class='label-font'>Use SSL</label>
				</div>
			</div><br><!--end cleansession &usingSSL group-->
			<div class='group'>
				<div class='label-container3'>
					<input id="connIsHA-${objConn.id}" data-dojo-type="dijit/form/CheckBox"  name='usingHA' />
					<label for="connIsHA-${objConn.id}" class='label-font'>Enable HA</label>
				</div>
				<div class='label-container3'>
					<input id="connIsLWT-${objConn.id}" data-dojo-type="dijit/form/CheckBox"  name='usingLWT' />
					<label for="connIsLWT-${objConn.id}" class='label-font'>Enable LWT(willMessage)</label>
				</div>
			</div><br><!--end HA & LWT group-->
			
			<div class='group'>
				<div class='label-container3'>
					<input id="connIsLogin-${objConn.id}" data-dojo-type="dijit/form/CheckBox"  name='usingLogin' />
					<label for="connIsLogin-${objConn.id}" class='label-font'>Use Login</label>
				</div>
			</div><br><br>
			<div class='group'>
				<div class='label-container4'>
					<label for="connUser-${objConn.id}" class='label-font'>Username</label>
				</div>	
				<input type="text" id="connUser-${objConn.id}" class="pull-left" style="width:18%"
						data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder:'Username',trim:true" />				
				<div class='label-container4'>
					<label for="connPasswd-${objConn.id}" class='label-font'>Password</label>
				</div>
				<input type='password' id="connPasswd-${objConn.id}"  style="width:18%"
						data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder:'Password'"/>
			</div><!--end Login group-->
			<div class='group'>
				<div class='label-container4'>
					<label for="connAlive-${objConn.id}" class='label-font'>Keep Alive</label>
				</div>	
				<input type="text" id="connAlive-${objConn.id}" class="pull-left" style="width:10%"
						data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="placeHolder:'30'"/>				
				<span style="font-weight:bold;float:left;width:8%; padding:4px">Seconds</span>
				<div class='label-container4'>
					<label for="connRetry-${objConn.id}" class='label-font'>Retry Interval</label>
				</div>
				<input id="connRetry-${objConn.id}"  style="width:10%"
						data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="placeHolder:'60'"/>
				<span style="font-weight:bold;width:8%; padding:4px">Seconds</span>
			</div><!--end keepAlive& retryInterval group-->
		</div>
		<div data-dojo-type="dijit/TitlePane" id="titlepaneHA-${objConn.id}" class='title-pane shadow' data-dojo-props="open:false,title:'High Availability(HA)'">
			<div id="connHAList-${objConn.id}" class='gridContainer' style='height:300px'></div>
		</div><!-- end TitlePane -->
		<div data-dojo-type="dijit/TitlePane" id="titlepaneLWT-${objConn.id}" class='title-pane shadow' data-dojo-props="open:false,title:'Last Will and Testament'">
			<table class="hidden-table">
				<tr>
					<td class='label'>
						<label for="connLwtTopic-${objConn.id}" class='label-font'>Topic</label>
					</td>
					<td  class='widget'>
						<input data-dojo-type="dijit/form/TextBox"  id="connLwtTopic-${objConn.id}" />
					</td>
					<td  class='label'>
						<label for="connLwtQos-${objConn.id}" class='label-font'>Qos</label>
					</td>
					<td class='widget'>
						<select data-dojo-type="dijit/form/Select" id="connLwtQos-${objConn.id}" />
							<option value=0>0 - At Most Once</option>
							<option value=1>1 - At Least Once</option>
							<option value=2>2 - Exactly Once</option>
						</select>
					</td>
					<td >
						<input  data-dojo-type="dijit/form/CheckBox" id="connLwtIsRetain-${objConn.id}" />
						<label for="connLwtIsRetain-${objConn.id}" class='label-font'>Retained</label>

					</td>
				</tr>
					<td class='label'>
						<label for="connLwtMsg-${objConn.id}" class='label-font'>Message</label>
					</td>
					<td colspan='4'>
						<textarea id="connLwtMsg-${objConn.id}" rows='3' style="width:76%"></textarea>
					</td>
				<tr>
				</tr>
			</table>
		</div><!-- end TitlePane -->
		
    </div>
    
</div><!-- end TabContainer -->

